.man{

    width: 90rem;
    height: 45rem;
    background-color: var(--color-grey-4);
    display: flex;
    justify-content: center;




            > .div1{
                display: flex;
                width: 23.0625rem;
                height: 31.375rem;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 8.3125rem;
                
                background-color: var(--color-grey-3);
                
            }

}


