.man{

    width: 90rem;
    height: 45rem;
    background-color: var(--color-grey-4);
    display: flex;
    justify-content: center;





}

@media(max-width: 28rem ){

    .man{

        width: 20rem;
        height: 35.5rem;
        background-color: var(--color-grey-4);
        display: flex;
        justify-content: center;
    
    
    
    
             
    }


}


