.alertSuccess{
    width: 17.875rem;
    height: 4.3125rem;
    margin-left: 70.5625rem;
    margin-top: 1.75rem;


    .nome22{
        width: 11.625rem;
        height: 1.5rem;
        margin-top: 2.9375rem;
        font-size: .875rem;
        font-family: var(--font-inter);
        font-weight: 700;
        color: var(--color-grey-0);
    }


    .linha1{
        width: 12.875rem;
        height: .375rem;
        margin-top: 5.6875rem;
        border-radius: 0px 0px 0px .25rem;
        background-color: var(--color-sinais);
    }


    .image22{
        width: 1.75rem;
        height: 1.75rem;
        margin-top: 2.8125rem;
        margin-left: .875rem;
    }
}


.alertError{
    width: 17.875rem;
    height: 4.3125rem;
    margin-left: 70.5625rem;
    margin-top: 7.375rem;



    .nome33{
        width: 9.0625rem;
        height: 1.5rem;
        margin-top: 2.8125rem;
        font-size: .875rem;
        font-family: var(--font-inter);
        font-weight: 700;
        color: var(--color-grey-0);
    }


    .linha1{
        width: 12.875rem;
        height: .375rem;
        margin-top: 5.6875rem;
        border-radius: 0px 0px 0px .25rem;
        background-color: var(--color-sinais);
    }


    .image22{
        width: 1.75rem;
        height: 1.75rem;
        margin-top: 2.8125rem;
        margin-left: .875rem;
    }
}