.header10{



  background-color: var(--color-grey-4);
   width: 90rem;
   height: 4.5rem;


        .divHeader{
              display: flex;
              justify-content: space-around;
              align-items: center;
              height: 4.5rem;
              


          .buton7{
            width: 3.4681rem;
            height: 2rem;
            border-radius: .25rem;
            background-color: var(--color-grey-3);
            color: var(--color-grey-0);
            font-family: var(--font-inter);
            font-weight: 600;
            font-size: .75rem;
          }

}
}

