.headerLogin{
        
          width: 90rem;
          height: 8.3125rem;
          
          background-color: var(--color-grey-4);



                img{
                  margin-top: 4.8125rem;
                  width: 9rem;
                  height: 1.2481rem;
                  margin-left: 40.4375rem;
              }
}


@media(max-width: 28rem){
  .headerLogin{
        
      width: 20rem;
      height: 7.15rem;
      
      background-color: var(--color-grey-4);



      img{
        margin-top: 5.0625rem;
        width: 6.3125rem;
        height: .875rem;
        margin-left: 6.8125rem;
    }
}

}



