.man2{
    width: 90rem;
    height: 45rem;

    background-color: var(--color-grey-4);

      .div0{
        display: flex;
        width: 90rem;
        height: 7.375rem;


            .pName{
                width: 9.4375rem;
                height: 1.75rem;
                font-family: var(--font-inter);
                font-weight: 700;
                font-size: 18px;
                color: var(--color-grey-0);
                margin-left: 314px;
            }

            .pCouser{
                width: 15.25rem;
                height: 1.375rem;
                font-family: var(--font-inter);
                font-weight: 400;
                font-size: .75rem;
                color: #999999;
            }

      }

      .h2F{
        width: 23.4375rem;
        height: 1.75rem;
        margin-left: 19.625rem;
        font-family: var(--font-inter);
        font-weight: 700;
        font-size: 1.125rem;
        color: var(--color-grey-0);
      }

      .pF{
        width: 34.375rem;
        height: 1.5625rem;
        font-family: var(--font-inter);
        font-weight: 400;
        font-size: 1rem;
        color: var(--color-grey-0);
        margin-left: 19.625rem;
      }
}