.headerRegister{
    background-color: var(--color-grey-4);
    width: 90rem;
    height: 7.9375rem;
    display: flex;
    align-items: center;


         .img2{
            margin-inline: 33.4375rem;
         }
    

         .buton66{
            width: 4.2181rem;
            height: 2.5069rem;
            margin-left: -355px;
            border-radius: .25rem;
            background-color: var(--color-grey-3);
            color: var(--color-grey-0);
            font-family: var(--font-inter);
            font-weight: 600;
            font-size: .75rem;

         }
}