.headerRegister{
    background-color: var(--color-grey-4);
    width: 90rem;
    height: 7.9375rem;
    display: flex;
    align-items: center;


         .img2{
            margin-inline: 33.4375rem;
         }
    

         .buton66{
            width: 4.2181rem;
            height: 2.5069rem;
            margin-left: -355px;
            border-radius: .25rem;
            background-color: var(--color-grey-3);
            color: var(--color-grey-0);
            font-family: var(--font-inter);
            font-weight: 600;
            font-size: .75rem;

         }
}

@media(max-width:28rem){

   .headerRegister{
      background-color: var(--color-grey-4);
      width: 20rem;

  
  
           .img2{
              margin-inline: .85rem;
              width: 6.0994rem;
              height: 1.0562rem;
              margin-top: 3.5906rem;
           }
      
  
           .buton66{
              width: 4.9713rem;
              height: 1.9969rem;
              margin-left: 104px;
              margin-top: 3.0913rem;
              border-radius: .25rem;
              background-color: var(--color-grey-3);
              color: var(--color-grey-0);
              font-family: var(--font-inter);
              font-weight: 600;
              font-size: .5994rem;
              border: none;
  
           }
  }
}